{% extends "base.html" %} 
{% block title%}About{% endblock%} 
{% block content%}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="/static/images/Image.jpg" alt="Your Name" class="img-fluid profile-image">


        </div>
        <div class="col-md-8">
            <h1 class="text-primary mb-3">About Me</h1>
            <p>Hello! I'm a passionate and driven individual, enthusiastic about technology, coding, and all things development.</p>
            
            <p>I'm 22 years old and hold a diploma in Computer Engineering. I've been working as a developer for two years, honing my skills in programming and embracing DevOps tasks with open arms. I'm eager to learn new things and expand my knowledge and expertise in the ever-evolving tech world.</p>
            
            <h3 class="text-secondary mt-4">Quick Facts</h3>
            <ul class="list-unstyled">
                <li><strong>Age:</strong> 22</li>
                <li><strong>Diploma:</strong> Computer Engineering</li>
                <li><strong>Experience:</strong> 2 years as a Developer</li>
                <li><strong>Skills:</strong> Programming, DevOps</li>
            </ul>
            
            <p>Feel free to explore my <a href="/projects">projects</a> and <a href="/blog">blog</a> to know more about my work and thoughts!</p>
        </div>
    </div>
</div>
{% endblock %}